<!-- <p>navbar works! {{name}}</p> -->
<!-- https://codepen.io/hitensharma/pen/dybryGE -->
<nav class="nav">
    <div class="nav__logo">
        <img src="/assets/sketch_logo.svg" alt="Logo Image">
    </div>
    <div class="nav__hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="nav__links">
        <li><a [routerLink]="['/']">Rutinas</a></li>
        <li><a [routerLink]="['/']">Consejos</a></li>
        <li><a [routerLink]="['/']">FaQs</a></li>
    </ul>
    <div class="nav__login">
        <button class="nav__login--button">Ingresar</button>
    </div>
</nav>