$color_1: #fff;
$color_2: #efefef;
$font-family_1: 'segoe ui';
$background-color_1: #4d4d4d;
$background-color_2: rgba(0, 0, 0, 0.3);
$background-color_3: #333;

* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	font-family: $font-family_1;
}
.nav {
	height: 50px;
	width: 100%;
	background-color: $background-color_1;
	position: relative;

	&__header {
		display: inline;
		&--title {
			display: inline-block;
			font-size: 22px;
			color: $color_1;
			padding: 10px 10px 10px 10px;
		}
	}
	&--btn {
		display: none;
	}
	&--links {
		display: inline;
		float: right;
		font-size: 18px;
		>a {
			display: inline-block;
			padding: 13px 10px 13px 10px;
			text-decoration: none;
			color: $color_2;
			&:hover {
				background-color: $background-color_2;
			}
		}
	}
	>#nav-check {
		display: none;
	}
}
@media (max-width:600px) {
	.nav {
		>.nav-btn {
			display: inline-block;
			position: absolute;
			right: 0px;
			top: 0px;
			>label {
				display: inline-block;
				width: 50px;
				height: 50px;
				padding: 13px;
				&:hover {
					background-color: $background-color_2;
				}
				>span {
					display: block;
					width: 25px;
					height: 10px;
					border-top: 2px solid #eee;
				}
			}
		}
		#nav-check {
			&:checked {
				~ {
					.nav-btn {
						>label {
							background-color: $background-color_2;
						}
					}
				}
			}
		}
		>.nav-links {
			position: absolute;
			display: block;
			width: 100%;
			background-color: $background-color_3;
			height: 0px;
			transition: all 0.3s ease-in;
			overflow-y: hidden;
			top: 50px;
			left: 0px;
			>a {
				display: block;
				width: 100%;
			}
		}
		>#nav-check {
			&:not(:checked) {
				~ {
					.nav-links {
						height: 0px;
					}
				}
			}
			&:checked {
				~ {
					.nav-links {
						height: calc(100vh - 50px);
						overflow-y: auto;
					}
				}
			}
		}
	}
}
